*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.title{
    text-align: center;
}
.text{
    width: 70%;
    margin: 30px auto;
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-family: system-ui;
    font-weight: 900;
    line-height: 1.8;
}
.banner{
    width: 100%;
    height: 500px;
    background: wheat;

    background-image: url(/Москва.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1{
    color: white;
    font-size: 90px;
    text-transform: uppercase;
    opacity: 0.4;
}